layout {

    focus-ring {
        active-color   "#e46767"
        inactive-color "#241a1a"
        urgent-color   "#eb0303"
    }

    border {
        active-color   "#e46767"
        inactive-color "#241a1a"
        urgent-color   "#eb0303"
    }

    shadow {
        color "#241a1a70"
    }

    tab-indicator {
        active-color   "#e46767"
        inactive-color "#8d0c0c"
        urgent-color   "#eb0303"
    }

    insert-hint {
        color "#e4676780"
    }
}

recent-windows {
    highlight {
        active-color "#e46767"
        urgent-color "#eb0303"
    }
}
