layout {

    focus-ring {
        active-color   "#80e9a3"
        inactive-color "#1c221e"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#80e9a3"
        inactive-color "#1c221e"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#1c221e70"
    }

    tab-indicator {
        active-color   "#80e9a3"
        inactive-color "#0da941"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#80e9a380"
    }
}

recent-windows {
    highlight {
        active-color "#80e9a3"
        urgent-color "#fd4663"
    }
}
