// Default window styling
window-rule {
    geometry-corner-radius 16
    clip-to-geometry true
}

// Thunar transparency and blur
window-rule {
    match app-id="thunar"
    opacity 0.88
    background-effect {
        blur true
    }
}

// Dolphin transparency and blur
window-rule {
    match app-id="org.kde.dolphin"
    opacity 0.9
    background-effect {
        blur true
    }
}

// Fooyin transparency and blur
window-rule {
    match app-id="org.fooyin.fooyin"
    opacity 0.9
    background-effect {
        blur true
    }
}

// Set the regular wallpaper on the backdrop.
layer-rule {
    match namespace="^noctalia-wallpaper.*$"
    place-within-backdrop true
}

overview {
    workspace-shadow {
        off
    }
}

window-rule {
    match app-id="^foot$"
    background-effect {
        blur true
    }
}